.brightness_icon {
  color: $yellow;
  font-size: 16px;
}

.brightness_text {
  color: $peach;
  font-size: 14px;
}

.brightness-bar trough highlight {
  background-color: $yellow;
  border-radius: 5px;
}
